# Assignment

## A few basic exercises
### Variable Assignment
* Try a program to display your name using a variable
* Try changing that variable in code itself to something else
* Try assiging one variable to other and changing one's value

In [2]:
a= "Om"
b= "Doiphode"

# Write code to print the variable a 
print(a)
############

# Write Code to Change variable a into 30
a=30
############

# Write Code to assign variable a the value of b
a=b
############

Om

### Multiple Assignment

* Try Reversing the assignements i.e. new a should be 3, b should be 2 and c should be 1

In [3]:
a,b,c = 1,2,3

## write a single line code to reverse a,b,c using multiple assignment
a,b,c=c,b,a
######
print(a,b,c)

3 2 1

### String

* Try reversing string in one line as compared to conventional loops

In [4]:
string = "this is a test!"

## Write Code to reverse string in one line

##
string = string[::-1]

print(string)

!tset a si siht

# Operators

You are provided with a list of Clubs in VJTI:
clubs = ['SRA' , 'Aero' , 'Racing' , 'DSC' , 'COC']
And a list of clubs you are a member of:
membership= ['SRA' , 'DSC']

You have to perform the following tasks:

1.   Create a boolean list respective to the clubs you are a member of without using the '==' operator:
Expected output: [true,false,false,true,false] HINT: use the membership operator

2.   Convert the boolean list into a list of binary one or zero without using the operator '=='. Expected output: [1,0,0,1,0]
HINT: Check out identity operator

In [5]:
clubs = ['SRA' , 'Aero' , 'Racing' , 'DSC' , 'COC'] 
membership= ['SRA' , 'DSC']
# Write your code here
boolean_list = []
for x in clubs:
    if x in membership:
        boolean_list.append("True")
    else:
        boolean_list.append("False")
print(boolean_list)
boolean_list.clear()
for x in clubs:
    if x is membership[0]:
        boolean_list.append(1)
    elif x is membership[len(membership)-1]:
        boolean_list.append(1)
    else:
        boolean_list.append(0)
print(boolean_list)

['True', 'False', 'False', 'True', 'False']
[1, 0, 0, 1, 0]

You are provided with the following:
expression = 4_6_9_3_23_19
Using the operators: +,-,*, /, % in places of the _ make an expression that reads the value: 25.0.

In [6]:

expression = 4*6-9/3+23%19
print(expression)
# write your code here

25.0

# Control Statements

Complete the for loop such that whenever there is an prime number it prints the number plus "I was a prime" in the same line, otherwise it prints nothing.  


Using the looping statement and the control statements

In [1]:
# for i in range(100):
#   # Write Code here
    
#   #Don't tamper the next line
#   print("I was a prime")
for i in range(100):
    if i > 1:
        for j in range(2, int(i / 2) + 1):
            if (i % j) == 0:
                break
        else:
            print(f"{i} : I am a prime number")

2 : I am a prime number
3 : I am a prime number
5 : I am a prime number
7 : I am a prime number
11 : I am a prime number
13 : I am a prime number
17 : I am a prime number
19 : I am a prime number
23 : I am a prime number
29 : I am a prime number
31 : I am a prime number
37 : I am a prime number
41 : I am a prime number
43 : I am a prime number
47 : I am a prime number
53 : I am a prime number
59 : I am a prime number
61 : I am a prime number
67 : I am a prime number
71 : I am a prime number
73 : I am a prime number
79 : I am a prime number
83 : I am a prime number
89 : I am a prime number
97 : I am a prime number

# Lists

Write a Python program to count the number of strings where the string length is 2 or more and the first and last character are same from a given list of strings. Go to the editor  
**Sample Input** :['abc', 'xyz', 'aba', '1221']   
**Sample Output** :2  
**Explanation** :'aba' and '1221' have length greater than 2 and also has matching first and last character.

In [8]:
list1 = ['abc','xyz','aba','1221']
# Write your code here
count = 0
for item in list1:
    if len(item) > 2 and item[0] == item[len(item) - 1]:
        count += 1
print(count)

2

Write a Python program to print the numbers of a specified list after removing even numbers from it.  
**Hint** : Use List Comprehension

In [9]:
# Write your code here
odd_nums = [x for x in range(0, 100) if x % 2 != 0]
print(odd_nums)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]

# Dictionaries

Delete set of keys (keysToRemove) from a dictionary and display the resultant dictionary  
**Given** : The "sampleDict" dictionary has already been defined in the below code .

**Expected Output**:
{'city': 'New york', 'age': 25}

In [10]:
# Given Dictionary
sampleDict = {
  "name": "Kelly",
  "age":25,
  "salary": 8000,
  "city": "New york"
  
}

# remove the keys present in the list below from the dictionary 
keysToRemove = ["name", "salary"]

# Write your code here
for key in keysToRemove:
    sampleDict.pop(key)
print(sampleDict)

{'age': 25, 'city': 'New york'}

Write a program in Python to read the admission number, name of student and his/her stream of 10 students and create a dictionary from this information. print the dictionary

In [ ]:
# Write your code here 
student_records = {}
for i in range(0, 10):
    print(f"Student - {i + 1}")
    admission_number = int(input("Enter your admission number : "))
    name = input("Enter your name : ")
    stream = input("Enter your stream : ")
    student_records.update({f'Student - {i + 1}': {'Admission_Number': admission_number, 'Name': name, 'Stream': stream}})
print(student_records)

Student - 1
Enter your admission number : 211071019
Enter your name : Dishie
Enter your stream : COE
Student - 2
Enter your admission number : 211070020
Enter your name : Om
Enter your stream : COE
Student - 3

# Sets and Tuples

Check if two sets have any elements in common. If yes, display the common elements.

set1 = {10, 20, 30, 40, 50}

set2 = {60, 70, 80, 90, 10}


**Expected output:**

Two sets have items in common

{10}

In [12]:
set1 = {10, 20, 30, 40, 50}
set2 = {60, 70, 80, 90, 10}

# Write your code here to get common elements among them
print(set1.intersection(set2))

{10}

Write a Python program to replace last value of tuples in a list.

**Sample list:** [(10, 20, 40), (40, 50, 60), (70, 80, 90)]

**Expected Output:** [(10, 20, 100), (40, 50, 100), (70, 80, 100)]

In [13]:
list1 = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]

# Write your code here to replace last value of tuples in the list
list2 = []
for item in list1:
    item_list = list(item)
    item_list[2] = 100
    list2.append(tuple(item_list))
list1 = list2
del list2
print(list1)

[(10, 20, 100), (40, 50, 100), (70, 80, 100)]

## Functions

1) Write a function called ```showNumbers``` that takes a parameter called limit. It should print all the numbers between 0 and limit with a label to identify the even and odd numbers. For example, if the limit is 3, it should print:
* 0 EVEN
* 1 ODD
* 2 EVEN
* 3 ODD

In [ ]:
# Write Your code here
def showNumbers(limit):
    for i in range(limit + 1):
        if i % 2 == 0:
            print(f"{i} EVEN")
        else:
            print(f"{i} ODD")

2) Write a function that takes limit(integer) as a paramter and prints all the prime numbers between 0 and limit.

In [ ]:
# Write your code here
def printNumbers(limit):
    for i in limit:
        print(i)

# Classes and Objects

Write a Python Program to create a class named **Student**. 
- It should be initialised with attributes like **name, age, rollno, favourite subject**(a single subject).

- Write a class method **getDetails()** which prints the name, age and rollno of the object in the below format.
 
  * **Expected Output Format**
> Name   : <em>name</em></br>
> Age    : <em>age</em></br>
> RollNo : <em>rollno</em></br>

  * **Expected Example Output**
> Name : Gautam</br>
Age : 20</br>
RollNo : 68

- Now, there is a list **fav_list** such that it contains a list of subjects which are favourite to the Principal.

  ``` python
    fav_list = ["EG","Mechanics","Chemistry"]
  ``` 
- You have to write a class Method **isFav()** which returns a boolean value i.e either <em>**true**</em> if any of the favourite subject of the principal matches with that of the student. Think of some suitable logic here.

- Create 2 objects of class **Student** with attributes of your choice taken via user input.

- Call Both the methods for both the objects. **Note** - Print the result of the **isFav()** method.

- **Bonus Task** - Write the body of **isFav()** method in just one line.

In [3]:
# Write your code here 
class Student:
    fav_list = ["EG", "Mechanics", "Chemistry"]

    def __init__(self, name, age, rollno, favourite_subject):
        self.name = name
        self.age = age
        self.rollno = rollno
        self.favourite_subject = favourite_subject

    def isFav(self):
        return self.favourite_subject in self.fav_list

In [4]:
s1= Student("Om",18,49,"Maths")
print(s1.isFav())
s2=Student("John",18,60,"Chemistry")
print(s2.isFav())

False
True